* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
}
.navbar {
    background-color: black;
    justify-content: unset;
}

h1 {
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    font-size: 48px;
}

.icons {
    height: 60px;
    width: 60px;
    margin: 0px 15px;
}

#rocky {
    float: left;
    height: 600px;
    width: 450px;
    margin: 0 15px 15px 10px;
}

.container {
    background-color: black;
    margin-top: 15px;
}

p {
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 24px;
}

h2 {
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 38px;
    margin-bottom: 0px;
    margin-top: 15px;
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid white;
    margin: 1em 0; padding: 0; 
}

#space {
    height: 30px;
    width: 100%;
    background-color: white;
}

#portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h3 {
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 30px;
    margin-bottom: 15px;
}

.webapps {
    height: 200px;
    width: 200px;
    margin: 10px;
    border: solid white;
    opacity: 1;
}

.webapps:hover {
    border: solid gold;
}

a {
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 24px;
    text-align: center;
}

a:hover {
    color: gold;
}

.picture {
    position: relative;
    text-align: center;
}

.icons {
    height: 100px;
    width: 100px;
    margin: 10px 20px;
}

.icons:hover {
    -webkit-animation: tada 1s;
    animation: tada 1s;
}